* {
    box-sizing: border-box;    
}
html{
    font-family: sans-serif;
    line-height: 1.5;
    color: aliceblue; 
    height: 100%;
    min-height: 100rem;
}
body{
    margin: 0;
    /* rem = root element. rem auttaa sivun dynaamisuuden kanssa
    jos root, eli html elementin koko muuttuu, kaikki päivittyy sen mukana
    rem = 16px
    */
    padding: 2rem;
    background: linear-gradient(180deg, #77a2ad, #83a8b1 100%);    
  
}
header{
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
header img {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
}
header p {
    margin: 0 auto;
    font-size: 1.15rem;
    max-width: 38ch;
}
section{
    margin: 2rem auto;
    padding: 1rem;
    border: solid 1px black; 
    border-radius: 8px;
}
section h2{
    font-size: 1.15rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    text-align: center;
}
ul {
    max-width: 80rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2rem;
    margin: 2rem auto;
    padding: 0;
    list-style: none;
}
li {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: black;
    height: 10rem;
    overflow: hidden;
}
li button {
    background: transparent;
    border: none;
    padding: 0;
}
li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
li h3 {
    font-weight: normal;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    right: 1rem;
    background-color: lightyellow;
    border-radius: 4px;
    padding: 0.15rem 0.35rem;
    box-shadow: 0 1px 4px black;
}
