.chatbox {
    width: 24rem;
    height: 37rem;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    position: fixed;
    bottom: 2rem;
    right: -25rem; /* TODO: REMOVE */ 
    /* right: 2rem; /*   TODO: REMOVE */ 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: right 0.5s ease;
}

.chatbox.open {
    right: 2rem;
}

.toggle-button {
    background-color: #4dcb04;
    border: none;
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 1rem 1.5rem;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    /* visibility: hidden; /* TODO: REMOVE */
}

.toggle-button.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(0.5rem);
}

.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 79, 254);
    color: rgb(253, 241, 213);
    padding: 1rem;
    border-radius: 15px 15px 0 0;
}

.chat-header h2{
    margin: 0;
}

.chatbox main {
    flex: 1;
    background-color: white;
    overflow-y: scroll;
    padding-bottom: 0.5rem;
}

.chatbox main::-webkit-scrollbar {
    width: 6px;
}

.chatbox main::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatbox main::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.chatbox main::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chatbox .message {
    display: flex;
}

.chatbox .message .icon {
    justify-content: center;
    align-self: center;
    background-color: blue;
    border-radius: 50%;
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
}

.icon h2 {
    margin: 0;
    align-self: center;
    color: rgb(255, 248, 234);
}

.message-content {
    margin-top: 1rem;
    display: block;
    background-color: #f1f1f1;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 16rem;
}

.message-content .text {
    margin: 0.3rem 0.3rem 0.66rem 0.3rem;
}

.message-received {
    border-radius: 0 15px 15px 15px;
}

.message-sent {    
    border-radius: 15px 0 15px 15px;
    margin-right: 1rem;
}

.sent-container {
    justify-content: flex-end;
}

.message-footer{
    display: flex;
    justify-content: space-between;   
    gap: 0.5rem; 
}

.time {
    margin: 0.4rem 0 0 0; 
    font-size: 0.66rem;
    align-self: flex-end;
}

.reply {
    margin: 0; 
    font-size: 1rem;
    visibility: hidden; 
    opacity: 0;
    color: blue;
    transition: opacity 0.4s ease;
}

.reply:hover {
    cursor: pointer;
}

.message-content:hover .message-footer .reply {
    visibility: visible; 
    opacity: 1; 
}

.chatbox footer {
    box-sizing:initial;
    background-color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    padding: 10px
}

.chatbox footer div{
    background-color: white;
    padding: 10px;
}

.chatbox footer div:focus-within{
    box-shadow: 0 0 0 2px blue;
    border-radius: 5px;
}

.chatbox footer form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatbox footer svg {
    width: 100%;
    height: 100%;
    opacity: 0.65;
    color: #4dcb04;
}

.chatbox footer textarea {
    border: none;
    font-size: 1rem;
    padding: 1rem;
    flex: 1;
    margin-right: 10px;
    resize: none;
    scrollbar-width: none;
    font-family: Arial, Helvetica, sans-serif;
}

.chatbox footer textarea:focus {
    outline: none;
}

.chatbox footer button {
    border: none;
    background-color: white;
}

#svg-wrapper {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 2.2rem;
}

#svg-wrapper:hover {    
    cursor: pointer;
    border-radius: 100%;    
    box-shadow: 0 0 0 2px rgba(2, 2, 255, 0.30),0 0 0 2px rgba(2, 2, 255, 0.35) inset;
}